
<td><%= title %></td>
<td><%= context %></td>

<td><a href="posts/<%= id %>">Show</td>
<td><a href="posts/<%= id %>/edit">Edit</td>
<td><a href="posts/<%= id %>/destroy" class="destroy">Destroy</a></td>